<!DOCTYPE html>
<html>
<head>
	<title>Contoh Halaman Website</title>
	<!-- Tambahkan CSS dan JS di sini -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<nav>
			<h1>YourIP: {{ip}}</h1>
			<div class="menu-icon"><i class="bi bi-wifi"></i></div>
			<ul>
				<li><a href="https://github.com/sanzking"><i class="bi bi-github"></i></a></li>
				<li><a href="https://www.facebook.com/sanzkingstore02"><i class="bi bi-facebook"></i></a></li>
				<li><a href="https://t.me/sstore2"><i class="bi bi-telegram"></i></a></li>
        <li><a href="https://wa.me/6285723540943"><i class="bi bi-whatsapp"></i></a></li>
        <li><a href="mailto: kapofaqih730@gmail.com"><i class="bi bi-envelope-at-fill"></i></a></li>
			</ul>
		</nav>
	</header>
	<br><br>
	<main>
		<div class="alert-container_vpd">
			<div class="alert-close">
				<span>VPN or PROXY detection</span>
			</div>
			<div class="alert-text">
				<p>{{vpn}}</p>
			</div>
		</div>

		<div class="alert-container_fd">
			<div class="alert-close">
				<span>IP Fraud Rate</span>
			</div>
			<div class="alert-text">
				<p>Rasio Fraud: {{score}}</p>
			</div>
		</div>

		<div class="head">
			Fake Adress
			<br><br>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{fullname}}">
				<button class="copy-button">Copy</button>
			</div>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{number}}">
				<button class="copy-button">Copy</button>
			</div>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{jalan}}">
				<button class="copy-button">Copy</button>
			</div>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{kota}}">
				<button class="copy-button">Copy</button>
			</div>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{provinsi}}">
				<button class="copy-button">Copy</button>
			</div>
			<div class="copy-container">
				<input class="copy-input" type="text" value="{{kode_pos}}">
				<button class="copy-button">Copy</button>
			</div>
      <div class="copy-container">
				<input class="copy-input" type="text" value="{{negara}}">
				<button class="copy-button">Copy</button>
			</div>
		</div>
		

</main>
<footer>
	Made with Love.
</footer>
<!-- Tambahkan JS di sini -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
